/* Center the quiz section to the center of the screen, using the container as the main box that contains the content */

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html, body, .container{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif, 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
}

header{
  text-align: left;
  padding: 20px;
  padding-top: 10px;
  color: blueviolet;
  font-size: x-large;
  background-color: white;
}


#card{
  text-align: center;
  background-color: rgb(141, 137, 137);
  max-width: 75%;
  border: 10px solid black;
  margin: 200px auto;
}

#start{
  border: none;
  background-color: red;
  color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;

  padding: 30px 100px;
  margin: 10px 25px;
}

#start:hover{
  background-color: rgb(121, 12, 12);
  color: ghostwhite;
}


#exit{
  border: none;
  background-color: red;
  color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;

  padding: 30px 100px;
  margin: 10px 25px;
}

#exit:hover{
  background-color: rgb(121, 12, 12);
  color: ghostwhite;
}

/* This will target the full container then the child of the button, creating a flex box for the buttons only which then can be spaced as desired */
#btn{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}